<div>
  <div class="temp-clock-container">
      <app-temp-clock [min]="minTemp" [max]="maxTemp" [target]="targetTemp"></app-temp-clock>
  </div>
  <div class="temp-form-container">
    <form [formGroup]="tempFormForm">
      <div class="form-group">
        <label for="min">Minumim</label>
        <input type="number" formControlName="min" id="min" name="min" [ngClass]="{'form-control': true, 'invalid': !this.tempFormForm.get('min')?.valid}">
        <span class="error" *ngIf="this.tempFormForm.get('min')?.hasError('required')">This minimum field is required</span>
      </div>
      <div class="form-group">
        <label for="max">Maximum</label>
        <input type="number" formControlName="max" id="max" name="max" [ngClass]="{'form-control': true, 'invalid': !this.tempFormForm.get('max')?.valid}">
        <span class="error" *ngIf="this.tempFormForm.get('max')?.hasError('required')">This maximum field is required</span>
        <span class="error" *ngIf="this.tempFormForm.get('max')?.hasError('lessEqualThanMin')">This maximum field value should be greater than minimum</span>
      </div>
      <div class="form-group">
        <label for="target">Target</label>
        <input type="number" formControlName="target" id="target" name="target" [ngClass]="{'form-control': true, 'invalid': !this.tempFormForm.get('target')?.valid}">
        <span class="error" *ngIf="this.tempFormForm.get('target')?.hasError('required')">This target field is required</span>
        <span class="error" *ngIf="this.tempFormForm.get('target')?.hasError('outOfRange')">This target field value should be between minimum and maximum</span>
      </div>
      <div>
        <button class="btn btn-primary" (click)="submitTempForm()">Update</button>
      </div>
    </form>
  </div>
</div>
