.container {
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  padding: 10px;
}
.container > .clock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > .clock > .clock-container {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid darkgrey;
  border-radius: 50%;
}
.container > .clock > .clock-container > .target, .clock > .clock-container > .min, .clock > .clock-container > .max {
  position: absolute;
  height: 1px;
  background-color: black;
  transform-origin: 100%;
}
.container > .clock > .clock-container > .min, .clock > .clock-container > .max {
  width: 10%;
  top: 85%;
}
.container > .clock > .clock-container > .target {
  width: 50%;
  top: 50%;
  transform: rotate(0deg);
}
.container > .clock > .clock-container > .min {
  left: 5%;
  transform: rotate(-45deg);
}
.container > .clock > .clock-container > .max {
  left: 75%;
  transform: rotate(225deg);
}
.container > .temperature-value {
  font-size: 12px;
  font-family: sans-serif;
  padding-top: 10px;
  text-align: center;
}
