<div class="container">
  <div class="clock">
    <div class="clock-container">
      <span class="target" [style.transform]="targetRotateStyle"></span>
      <span class="max"></span>
      <span class="min"></span>
    </div>
  </div>
  <div class="temperature-value">{{ target }} &#8451;</div>
</div>
