.btn {
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
}

.btn-primary {
  color: white;
  background-color: #00695c;
}
.btn-primary:hover {
  background-color: #004d44;
}
.btn-sm {
  padding: 1px 5px;
}
.btn-md {
  padding: 5px 10px;
}
.btn-lg {
  padding: 10px 16px;
  line-height: 1.3;
}
