.form-group {
  width: 100%;
  padding: 2px;
}

.form-group .form-control {
  width: 100%;
  padding: 5px;
  outline: none;
}

.form-group .form-control.invalid {
  border-color: #d00202;
}

.form-group > .form-control:hover {
  border-color: #00695c;
}

.form-group > span.error {
  color: #d00202;
}
