nav {
  height: 100%;
  display: flex;
  align-items: center;
}
nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav > ul > li {
  margin: 0 1rem;
  padding: 0;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
}
